{% extends 'base.html.twig' %}

{% block title 'Creer un restaurant' %}

{% block body %}
    <div class="container   mt-4">
        <h2> Create une nouvelle option</h2>
        {{ include('Admin/option/form.html.twig', {form: form, button: 'add' }) }}

    </div>
{% endblock %}