{% extends 'base.html.twig' %}

{% block title 'Gérer les biens' %}

{% block body %}
    <div class="container   mt-4">
        <h2> Editer le restaurant </h2>
        {{ include('Admin/restaurant/form.html.twig', { form: form, button: 'Editer'}) }}

    </div>
    
{% endblock %}
